.characterCountContainer {
  display: flex;
  justify-content: space-between;
}

.letterCountText {
  text-align: left;
}

.letterCount {
  text-align: right;
}

.letterCount.warning {
  color: red;
}
