.messageBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.messageBox {
  border: 1px solid black;
  width: 90vw;
  min-width: 200px;
  padding: 1.5rem 1rem;
  box-shadow: 7px 7px black;
}

.messageBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.messageHeart > button  {
  font-size: 1.7rem;
  border-radius: 2rem;
  background-color: rgb(200, 200, 200);
  padding: 0.5rem;
  margin: 0.2rem;
}

.timestamp {
  color: rgb(120, 120, 120);
}

.heartBtn {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.heartBtn > div {
	width: 55px;
  height: 55px;
}

.heartBtn > div > button {
	border: none;
	border-radius: 50%;
	background-color: #ccc;
	transition: 1s ease;
}

.heartBtn > div > button {
  animation: grow 1s infinite;
	animation-direction: alternate;
}

@keyframes grow {
  from {width: 48px;height: 48px;font-size: 24px;}
  to {width: 52px;height: 52px;font-size: 27px;}
}

.heartBtn > div > button:hover {
	background-color: #ffccff;
}


@media screen and (min-width: 500px) and (max-width: 1440px) {
  .messageBox {
    max-width: 400px;
    min-height: 200px;
  }
}