.messageBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.messageBox {
  border: 1px solid black;
  width: 80vw;
  min-width: 200px;
  padding: 1rem;
}

.messageBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}